<div class="d-flex justify-content-between">
  <h2>Devices</h2>
  <button class="btn btn-dark" [routerLink]="['add-device']">Add new device</button>
</div>
<div class="mt-4 table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let device of devices">
        <td>{{ device.id }}</td>
        <td>{{ device.name }}</td>
        <td>{{ device.type }}</td>
      </tr>
    </tbody>
  </table>
</div>
